@font-face {
  font-family: "Neue Montreal";
  src: url("fonts/NeueMontreal/NeueMontreal-Regular.otf") format("opentype"),
    url("fonts/NeueMontreal/NeueMontreal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("fonts/NeueMontreal/NeueMontreal-Bold.otf") format("opentype"),
    url("fonts/NeueMontreal/NeueMontreal-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("fonts/NeueMontreal/NeueMontreal-Italic.otf") format("opentype"),
    url("fonts/NeueMontreal/NeueMontreal-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("fonts/NeueMontreal/NeueMontreal-BoldItalic.otf") format("opentype"),
    url("fonts/NeueMontreal/NeueMontreal-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("fonts/NeueMontreal/NeueMontreal-Light.otf") format("opentype"),
    url("fonts/NeueMontreal/NeueMontreal-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("fonts/NeueMontreal/NeueMontreal-LightItalic.otf") format("opentype"),
    url("fonts/NeueMontreal/NeueMontreal-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Courier New";
  src: url("/fonts/CourierNew/CourierNew.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Courier New";
  src: url("/fonts/CourierNew/CourierNew-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Courier New";
  src: url("/fonts/CourierNew/CourierNew-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Courier New";
  src: url("/fonts/CourierNew/CourierNew-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

body {
  background-color: #f5f0e6;
  font-family: "Neue Montreal", sans-serif;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 50px;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("./media/background.png");
  background-size: cover;
  background-position: center;
  transition: opacity 2s ease-out; /* Transition effect for fading out */
  opacity: 1; /* Start fully visible */
  z-index: -1; /* Ensure it stays in the background */
}

#main-content {
  opacity: 0; /* Start with the content invisible */
  transform: translateY(30px); /* Start slightly below the final position */
  transition: opacity 1s ease-in, transform 1s ease-in; /* Animate both properties */
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
  /* padding-bottom: -100px; */
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.light-text {
  font-weight: 300;
}

h1 {
  font-family: "Neue Montreal", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 3rem;
}
h2 {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  font-size: 2rem;
}
h3 {
  font-family: "Neue Montreal", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
h4 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 0.5;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
p {
  font-size: 1rem;
}
.span {
  color: #64281e;
}
.svg {
  background-color: white;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  /* border: 1px solid black; */
}
.card {
  padding: 1rem;
  border-color: black;
}
